
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet"href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="static/css/index.css?version=136">
	<link rel="shortcut icon" href="static/css/logo.ico" type="image/x-icon"/>
	<title>Medi-Leaf-Reco App</title>
</head>
<body> 
	<div class = "image">
	<div class="container">
			<div class="center">
                <h1><b>MEDI-LEAF-RECO APP</b></h1>
				<form method="post" enctype="multipart/form-data">
                        <a  href = "upload.html"><input type="button" class="btn btn-primary" value="UPLOAD IMAGE"></a><br><BR>
                        <a  href = "text.html"><input type="button" class="btn btn-primary" value="ENTER NAME"></a>
				</form>
			</div> <!-- center -->		
	</div> <!-- container -->	
</div>
</body>
</html>