<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet"href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<title>Medi-Leaf-Reco App</title>
	<link rel="shortcut icon" href="static/css/logo.ico" type="image/x-icon"/>
	<link rel="stylesheet" type="text/css" href="static/css/index.css?version=136">	
</head>
<body> 
	<div class="container">
			<div class="center">
					<h1><b>MEDI-LEAF-RECO APP</b></h1>
				<form method="post" enctype="multipart/form-data">	<CENTER>		  
                <b>ENTER LEAF NAME:</b>&nbsp;&nbsp;<input type = "text" name = "name" id="name" placeholder="Enter the name" required><BR><BR>
                <input type="submit" class="btn1 btn-primary" value="SEARCH" name = "btn" id="btn"></CENTER>			 
					</form>
			</div> <!-- center -->
	</div> <!-- container -->	
</body>
</html>