<!DOCTYPE html>
<html lang="en">
<head>
	<title>Medi-Leaf-Reco App</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet"href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<link rel="shortcut icon" href="static/css/logo.ico" type="image/x-icon"/>
	<link rel="stylesheet" type="text/css" href="static/css/index.css?version=136">
</head>
<body class = "up">
	<div class="container">
		<div class="center"><center>
			<form method="POST" enctype="multipart/form-data">
				<h1><b>MEDI-LEAF-RECO APP</b></h1><br><br><br>
				<input id="fileButton" accept="image/*" class="input100" type="file" name="file">
				<span class="focus-input100"></span><br><br>
				<input type="submit" class="btn1 btn-primary" value="SEARCH" name = "btn" id="btn">
			</form>
		</center>
		</div>
	</div>
</body>
</html>